<!DOCTYPE html>
<html>
<head>
  <title>RentalFind</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--   JavaScript Library -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhHQJKWUx4T-o-v8a0xZ200NGpmzlOuQA&signed_in=true&libraries=places&callback=initMap"
        async defer></script>

</head>
<body>
<%= render "partials/nav" %>

<%= yield %>

</body>
</html>